<style>

        table {

            width: 25%;

            border-collapse: collapse;

            background-color: #4699f7;

        }



        td {

            border: 1px solid black;

            text-align: center;

        }

</style>
